
<div class="wrapper">
<div class="background">
  <header>
    <div class="bannerbar">
      <p class="barimg"><%=image_tag("bar.png")%></p>
    </div>
    <section class="wow fadeIn" data-wow-duration="1.3s">
      <div class="logo">
        <%=image_tag("logo.svg")%>
      </div>
      <div class="navbar" id="nav">
        <div class="desknav">
          <nav>
            <ul class="hr">
              <li>
                <a class="navtext" href="/">HOME</a>
              </li>
              <li>
                <a class="navtext" href="#solutions">SOLUTIONS</a>
              </li>
              <li>
                <a class="navtext" href="#process">WORK PROCESS</a>
              </li>
              <li>
                <a class="navtext" href="#values">VALUES</a>
              </li>
              <li>
                <a class="navtext" href="#leadership">LEADERSHIP</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="navcontactbtn">
          <a class="btn-primary btn-large" href="#contactus">CONTACT US</a>
        </div>
        <div class="icon">
          <i id="menuicon" class="icon-nav"></i>
        </div>
      </div>
    </section>
    <div class="headerinfo">
      <section class="wow slideInLeft">
        <h1>McCombs Consulting</h1>
      </section>
      <br>
      <section class="wow slideInLeft" data-wow-duration="1.3s">
        <p>We go partner with you to determine your business needs to create insightful and meaningful process improvements</p>
      </section><br>
      <section class="wow slideInLeft" data-wow-duration="1.5s">
        <a class="btn btn-outline-primary btn-large" href="#contactus">CONTACT US</a>
      </section>
      <div/>
    </div>
  </header>
  <div id="solutions" class="tables">
    <table>
      <tr>
        <td class="col1"></td>
        <td class="col2"></td>
        <td class="col3"></td>
      </tr>
    </table>
  </div>
</div>
<div class="coldivs">
  <div class="coldiv1">
    <section class="wow fadeInLeft">
      Start-Up Business Planning
      <br>
      Agile/SCRUM Reinforcement
      <br>
      Business Process Mapping
      <br>
      Project Management
      <br>
      Documentation & SOP Creation
      <br>
      Career Ladders
      <br>
      Business Application Provisioning
    </section>
  </div>
  <div class="coldiv2">
    <section class="wow fadeIn">
      CRM Automation
      <br>
      Sales Operations Strategy
      <br>
      Revenue Enablement
      <br>
      Payroll Management
      <br>
      Accounting Management
      <br>
      Human Resources Management
      <br>
      Recruiting and ATS Management
      <br>
      Cross Platform Integrations
    </section>
  </div>
  <div class="coldiv3">
    <section class="wow fadeInRight">
      Affordable Engineering Resources
      <br>
      MVP Build
      <br>
      Staff Augmentation
      <br>
      Product Discovery
      <br>
      Technical Audits
      <br>
      Data visualization
      <br>
      Platform Migrations
      <br>
      Refactoring
    </section>
  </div>
</div>
<div class="about">
  <section class="wow fadeInDown">
    <h1>About Us</h1>
    <br><br>
    <p>McCombs Consulting is New York based consultancy, dedicated to delivering business process and software development services. By partnering with you, we identify digital solutions to move your business forward. We have a passion for creating
      cutting edge software solutions.</p>
  </section>
</div>
<div class="workblock">
  <h1 id="process" class="wow zoomIn">Work process</h1>
  <div class="contentblock  wow zoomIn" data-wow-duration="1.3s">
    <div class="block1" background="1.svg">
      <h3>Kick off interview</h3>
      <p>What does a business partnership start with? We will flesh out your ideas, and hone in on the most important pain points to better understand your vision</p>
    </div>
    <div class="block2">
      <h3>Analyse and plan</h3>
      <p>This stage involves specifications development, project planning, wireframing, and cost estimation. This process allows us to guarantee that the product will adhere to strict guidelines</p>
    </div>
    <div class="block3">
      <h3>All starts with design</h3>
      <p>The planning and paperwork are behind us. So now we can move on to design. Once you're satisfied with the mock-up, we can build the functional prototype to test your idea</p>
    </div>
    <div class="block4">
      <h3>It’s about time to code</h3>
      <p>Now for the fun part. Our team can now start implementing the product’s functionality. We divide the development into sprints, then iterate until the tasks have been successfully completed to your standards</p>
    </div>
    <div class="block5">
      <h3>Ready for launch</h3>
      <p>Once the product or solution is stable, you’ll have the opportunity to check the performance under real-market conditions. From here, we can monitor the application by utilizing user testing and gathering user feedback</p>
    </div>
    <div class="block6">
      <h3>Further support</h3>
      <p>Users will always be better at testing a product than engineers will. With that being said we are responsible for every line of code we’ve written so we’re always available for any error or bugs that may arise</p>
    </div>
  </div>
</div>
<div id="values" class="skilsblock">
  <div class="imgblock">
    <div class="imgtext">
      <h1>We
        <br>
        strongly
        <br>
        believe
        <br>
        in
      </h1>
    </div>
  </div>
  <div class="skilscontent">
    <div class="slider">
      <div>
        <h3>Transparent Partnership</h3>
        <p>We believe that our ability to communicate open and honestly is just as important as our ability to provide solutions. This means that you can count on us to keep you informed every step of the way.
        </p>
      </div>
      <div>
        <h3>Wide range of skills</h3>
        <p>Unlike many companies whose main goal is to convince to use whichever technology they specialize in; We have a wide range of skills that can suit any need that you may have</p>
      </div>
      <div>
        <h3>Personalized solutions</h3>
        <p>Whether you have a small start-up, or a well established enterprise, we know that your business is unique. We guarantee a solution that geared towards your company’s needs.</p>
      </div>
      <div>
        <h3>Service affordability</h3>
        <p>You only pay for the hours that we work and not a penny a more.
        </p>
      </div>
      <div>
        <h3>Transparent workflow</h3>
        <p>We will keep you in the loop throughout all stages of the development process. By doing so we willl make your product faster, more qualitative, and incrementally more effective.</p>
      </div>
      <div>
        <h3>Evolving by experience</h3>
        <p>You know how to get to Carnegie Hall? Practice. Apart from our work, we are always looking for ways to improve, facilitate technological progress, and take advantage of the opportunity to work on groundbreaking problems.</p>
      </div>
    </div>
  </div>
</div>
<div id="leadership" class="leadership">
  <section class="wow fadeIn">
    <h1>Leadership</h1>
    <br><br>
    <p>In the wake of hundreds of completed projects, we decided to combine our variety of industries insights. Our forward-thinking leadership team is made up of dedicated, focused and experienced executives. Working with each other and with our
      employees worldwide, their knowledge and experience combines to make a difference for all our customers</p>
  </section>
</div>

<div class="imgsblock wow fadeIn">
  <div class="center">
    <div>
      <%=image_tag("z.png")%>
    </div>
    <div>
      <%=image_tag("v.png")%>
    </div>
    <div>
      <%=image_tag("s.png")%>
    </div>
    <div>
      <%=image_tag("t.png")%>
    </div>
  </div>
  <section class="content" data-id="1">
    <p>CEO</p>
    <h3>Eugene</h3>
  </section>
  <section class="content" data-id="2">
    <p>Web Developer</p>
    <h3>Vitaliy</h3>
  </section>
  <section class="content" data-id="3">
    <p>Web Developer</p>
    <h3>Alex</h3>
  </section>
  <section class="content" data-id="4">
    <p>Designer</p>
    <h3>Tania</h3>
  </section>
</div>
<div id="contactus" class="contacts">
  <div class="firstblock">
    <section class="wow fadeIn" data-wow-duration="1.3s">
      <h1>Contact Us</h1>
      <br><br>
      <p>Fill out the form below, and we will contact you to get right into details about your needs</p>
    </section>
    <br>
  </div>
  <div class="contactblock">
    <div class="map wow fadeInDown">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1315.348264523197!2d30.221027824719528!3d48.74949351990431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d20da44788fa2f%3A0x2acff7169753fd15!2z0J_QtdGA0LvQuNC90LAg0KPQvNCw0L3Rlg!5e0!3m2!1suk!2sua!4v1548147406573"
        width="100%"
        height="100%"
        frameborder="0"
        style="border:0"
        allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="contactus wow fadeInDown">
      <%= form_for(:contacts) do |f| %>
      <p><%= f.label :name, "Your Name" %></p>
      <%= f.text_field :name, class: 'form',placeholder: 'Alex' %>
      <p><%= f.label :email %></p>
      <%= f.email_field :email, class: 'form',placeholder: 'yourmail@email.com' %>
      <p><%= f.label :number, 'phone number' %></p>
      <%= f.number_field :email, class: 'form',placeholder: '+' %>
      <p><%= f.label :message %></p>
      <%= f.text_field :message, class: 'form',placeholder: 'Some message' %>
    <% end %>
    <br>
    <div class="buttons">
      <%= link_to '<button class="btn-primary btn-contact">CONTACT US</button>'.html_safe %>
      <%= link_to '<button class="btn btn-outline-primary btn-atach">+ ATACH FILE</button>'.html_safe, root_path %>
    </div>
  </div>
</div>
<div class="secondblock">
  <div class="footer">
    <div class="navbar">
      <nav>
        <ul class="hr">
          <li>
            <a class="navtext" href="/">HOME</a>
          </li>
          <li>
            <a class="navtext" href="#solutions">SOLUTIONS</a>
          </li>
          <li>
            <a class="navtext" href="#process">WORK PROCESS</a>
          </li>
          <li>
            <a class="navtext" href="#values">VALUES</a>
          </li>
          <li>
            <a class="navtext" href="#leadership">LEADERSHIP</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="social">
      <a href="#"><%=image_tag("fb.svg")%></a>
      <a href="#"><%=image_tag("git.svg")%></a>
      <a href="#"><%=image_tag("in.svg")%></a>
      <a href="#"><%=image_tag("insta.svg")%></a>
      <a href="#"><%=image_tag("twitter.svg")%></a>
    </div>
    <div class="textblock">
      <p>“We partner with you to create viable solutions to drive your business ideas forward.”</p>
    </div>
    <div class="address">
      <p>62, European Street, Uman,<br>
        Cherkasy Region, Ukraine
        <br>
        +38 (097) 000 00 00
        <br>
        +1 (214) 000 0000
        <br>
        eugene@milestep.io</p>
    </div>
    <div class="copright">
      <p>Copyright © 2019 MileStep LLC. Privacy Policy</p>
    </div>
  </div>
</div>
</div>
<div class="mobnav">
  <nav>
    <ul class="">
      <li>
        <a  id="menuicon" class="navtext" href="/">HOME</a>
      </li>
      <li>
        <a id="menuicon" class="navtext" href="#solutions">SOLUTIONS</a>
      </li>
      <li>
        <a id="menuicon" class="navtext" href="#process">WORK PROCESS</a>
      </li>
      <li>
        <a  id="menuicon" class="navtext" href="#values">VALUES</a>
      </li>
      <li>
        <a  id="menuicon" class="navtext" href="#leadership">LEADERSHIP</a>
      </li>
    </ul>
    <div class="icon">
      <i id="close" class="icon-nav"></i>
    </div>
  </nav>
      </div>
      </div>
